.section-car{
    text-align: center;
    position: relative;
         
}
.columnas{
    display: flex;
    padding: 0%;
}
.card-seccion{
    height: 300px;
}
.tamaño-img{
    width: 25%;
    padding: 0;
  
    
}

.card-body{
    width: 100%;
}

@media screen and (max-width:480px){
	.columnas {
		display:block;
	} 
    .tamaño-img{
        width: 100%;
        padding: 0%;
    }
    .resp-card{
        width: 100%;
    }
} 