

<section class="container mt-5 mb-3 section-car">
  
  <h1>ACCESORIOS EXCLUSIVOS QUE <br> COMPLEMENTAN TU ESTILO</h1>
    <div class="columnas card-seccion">
        
          <div class="card bg-body text-center text-black w-25">
                <div class="card-header">
                  <h1 class="card-title">RELOJ QQ</h1>
                </div>  
                <div class="card-body">
                  <img src="../../assets/image/cars pricipal/reloj-mujer.png" alt="" class="tamaño-img">
                  
                </div> 
                <div class="card-footer"> 
                  <h2>$80.000</h2>
                    <a href="#" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#micuartomodal">Ver mas </a>
                    <!-- modal cuarta imagen-->
                 </div>
           </div>   
           <div class="card bg-body text-center text-black w-25">
            <div class="card-header">
              <h1 class="card-title">QQ</h1>
            </div>  
            <div class="card-body">
              <img src="../../assets/image/cars pricipal/reloj-mujer.png" alt="" class="tamaño-img">
              
            </div> 
            <div class="card-footer"> 
              <h2>$80.000</h2>
                <a href="#" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#micuartomodal">Ver mas </a>
                <!-- modal cuarta imagen-->
             </div>
       </div>  
       <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/image/cars pricipal/reloj-mujer.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick ke up.</p>
          <a href="www.google.com" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      </div>
          
    
</section>
      

