

<section class="section-car">
  
  <h3>ACCESORIOS EXCLUSIVOS QUE <br> COMPLEMENTAN TU ESTILO</h3>
    <div class="columnas card-seccion resp-card">
        
          <div *ngFor="let item of listado" class="card-seccion">
                <div>
                  <h4 class="">{{item.titulo}}</h4>
                </div> 
                <div>              
                  <img [src]="item.imagen" alt="" class="tamaño-img">
                </div> 
               <div>
                <h5>{{item.descripcion}}</h5>
                <a href="#" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#micuartomodal">Ver mas </a>
                    <!-- modal cuarta imagen-->
                </div>
           </div>  
           <!-- <div *ngFor="let item of listado" class="card" >
  
            <img [src]="item.imagen" alt="" class="tamaño-img">
            
            <div class="card-body">
              <h5 class="card-title">{{item.titulo}}</h5>
              <p class="card-text">{{item.descripcion}}</p>
              <a href="www.google.com" class="btn btn-primary">ir</a>
            </div>
      
           </div> 
           
           <div class="card bg-body text-center text-black w-25">
            <div class="card-header">
              <h1 class="card-title">QQ</h1>
            </div>  
            <div class="card-body">
              <img src="../../assets/image/cars pricipal/reloj-mujer.png" alt="" class="tamaño-img">
              
            </div> 
            <div class="card-footer"> 
              <h2>$80.000</h2>
                <a href="#" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#micuartomodal">Ver mas </a>
                 modal cuarta imagen
             </div>
       </div>  
       
      </div>-->
      </div>
       
</section>
      

