<header class="container-superHeader container-header">
  
    <!--logo-->
    <div class="container-logo"> 
           <a routerLink="home"><img src="../../assets/image/imagen-header/nuevologo.png"  alt="logo-MAM" class="logo"></a>
     
    </div>
    
    
    <!--buscador
    
    <div class="caja-div nav-buscador">
        <nav class="navbar navbar-light justify-content-between w-100">
          
              <form class="form-inline container-buscador w-100" (ngSubmit)="submitForm($event)">
                <app-buscador></app-buscador>
                buscador<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
               
              </form>
        </nav>
    </div>-->
    
    <!--menu del header carrito-->
    <div class="caja-div nav-opcion">
        <nav class="navbar navbar-expand-lg  container-contacto">
        
              <ul class="navbar-nav nav-ul-carrito">
                  <li class="">
                    <a class="nav-link" href="#">MI CUENTA</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="contactom">CONTANTO</a>
                  </li>
                  <li class="nav-item carrito-header">
                  <a class="nav-link" href="#">CARRITO🛒</a>
                  </li>
                      
              </ul>
          
        </nav>
   </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </header>
   