<div class="container-header">
    <div> 
     <p class="h4-head">LINEAS DE VENTAS AUTORIZADAS +3167740xxx</p> 
    </div>
    <div class="search-container">
    <input type="text" name="buscador" placeholder="buscar" class="container-input" id="buscar">
       
       
    </div>
    <div class="container-buscar">
          
          <button onclick="fBuscador()" type="submit" class="btn-buscar">
          <img src="/primer-proyecto/image/busarr.png" alt="Buscar" class="img-btnBuscar"></button>
          
    </div>
    <div>  
     <a href=""><img src="/primer-proyecto/image/face.png" alt="facebook" class="head-redes-face"></a>  
    </div>
  
    <div>
    <a href="https://api.whatsapp.com/send?phone=3167xx7050" target="_blank"><img src="./IMAGE/WhatsApp.svg.webp" alt="WhatsApp" class="redes-whatsapp" > </a>   
    </div>
  </div>
  
  <div class="header-div-logo-carro-compra">
    <div>
          <a href=""><img src="./IMAGE/logo-.png" alt="logo-MAM" class="logo"></a>
    </div>
    <div>            
          <a href=""><img src="/Image/carro-compra.png" alt="compra" class="carro-compra"></a> 
    </div>
  </div>   