.container-superHeader{ 
    position: fixed;
    background-color: rgb(219, 87, 131);
    width: 98%; 
    height: 12%;
    left: 1%;
    right: 1%;
    top: 0%; 
    
    border-radius: 10px 10px 0px 0px;
     }
     .container-header{
        display: flex; 
     }
     p{
        left: 60px;
        top: 8%;
        color:rgb(251, 250, 253)
     }

    input { 
  
      position:fixed;
      margin-left: 40%;
      margin-top: 2%;
      border-radius: 10px;
      width: 17%; 
      height: 5%; ;
       
  }

    .container-buscar{
       margin-left: 59%;
       width: 10%;
       margin-top: 1%;
        
    }
    .btn-buscar{
        color: #555555;
        margin-right: 10%;
        border-radius: 7px;
        cursor: pointer;
        margin-top: 13%;
        width: 35%;
          
      }
      .img-btnBuscar{
        width: 60%;
        height: 4%;
      }
      .img-redes-face{
         width: 1%;
         position: absolute;
         left: 92%;
         top: 30%;
      }
      .container-logo-carroCompra{
         width: 100%;
         height: 85px;
        
        margin-left: 95%;        
      }