<header>
<div class="container-superHeader">
<div class="container-header">
    <div> 
      <a href=""><img src="../../assets/image/imagen-header/logo-.png" alt="logo-MAM" class="logo"></a>
     <p>LINEAS DE VENTAS AUTORIZADAS +3167740xxx</p> 
    </div>
    <div>
       <input type="text" name="buscador" placeholder="buscar" id="buscar">
       
       
    </div>
    <div class="container-buscar">
          
          <button onclick="fBuscador()" type="submit" class="btn-buscar">
          <img src="../../assets/image/imagen-header/buscar.png" alt="" class="img-btnBuscar"></button>
          
    </div>
    <div>  
     <a href=""><img src="../../assets/image/imagen-header/face.png" alt="facebook" class="img-redes-face"></a>  
    </div>
  
  </div>
  
  <div class="container-logo-carroCompra">
                     
   <a href=""><img src="../../assets/image/imagen-header/imagenCompra.png" alt="compra" class="carro-compra"></a> 
      </div>   
</div>
</header>