
    <footer id="footer-dir">
        <div class="container-footer mb-2">
              <div class="container-footer-div">
                    <p> Contacto</p>
                    <p> Calle xx Barranquilla, Colombia</p>
                    <p>evarisxxx@hotmail.com</p>
                    <p>lugeroga@gmail.com</p>
                    <p>+57 (357) 37716xx</p>
        
              </div>
              <div class="container-footer-div">
                    <p> Servicio al Cliente</p>
                    <p> Acerca de nosotros</p>
                    <p>Garantías</p>
                    <p>Politicas de envios</p>
                    
              </div>
              <div class="container-footer-div"> 
                    <p> MAM</p>
                    <p> Hombre</p>
                    <p>Mujer</p>
                    <p>niños</p>
                    <p>Reloj</p>
                    <p>Morrales</p>
                    
              </div>
              <div class="container-footer-div">
                    <p> Suscríbete a nuestras redes sociales</p>
                     
                     <a href="/CONTACTO/contacto.html" class="btn btn-info">Escribenos</a>
                    
              </div>  
        </div>  
  
        <div class="pie-pagina mt-5">
            <div>
            <hr> 
            <p class="fs-6 m-0"> cookies de terceros para generar estadísticas de audiencia y mostrar publicidad personalizada analizando tu navegación. Si sigues navegando estarás aceptando su uso
             Puedes acceder a nuestra sección de <a href="#">privacy policy</a></p>
             <button type="button" class="btn btn-secondary m-0 p-1" >GOT IT</button>
            </div>
               <div>
                  <a href="https://api.whatsapp.com/send?phone=3147xx502"><img src="/Image/WhatsApp.svg.webp" alt="WhatsApp" width="85px"> </a>   
               </div>   
      </div>   
  </footer>
