
<div>
    <footer id="footer-dir">
        <div class="container-footer">
              <div class="container-footer-div">
                    <p> Contacto</p>
                    <p> Calle xx Barranquilla, Colombia</p>
                    <p>evarisxxx@hotmail.com</p>
                    <p>+57 (357) 37716xx</p>
              </div>
              <div class="container-footer-div">
                    <p> Servicio al Cliente</p>
                    <p> Acerca de nosotros</p>
                    <p>Politicas de envios</p>
                    
              </div>
             
              <div class="container-footer-div">
                    <p> Suscríbete a nuestras redes sociales</p>
                     
                     <a href="/CONTACTO/contacto.html" class="btn btn-info">Escribenos</a>
                    
              </div>  
               
            </div>  
            <div class="pie-pagina">
                  <hr> 
                  <p class="fs-6 m-0 hrpie"> cookies de terceros  <a href="#">privacy policy</a></p>
                                    
            </div> 
         
  </footer>
</div>