
   
  .container-footer{
    margin-left: 18%;
    display: flex;
    height: 100%;
    bottom: 0%;
    top: 100%;
    background-color: rgb(240, 9, 151);
  }
  .container-footer-div{
    padding: 15px;
    height: 100%;
    bottom: 0%;
  }
  .hrpie{
    color: rgb(12, 11, 12);
    text-align: center;
    background-color: aliceblue;
  }
  
  #footer-dir{
      bottom: 0%;
      margin-bottom: 0px;
      color: white;
      background-color: rgb(240, 9, 151);
      width: 100%;
      
          
    }