.contacto-top{
   
    margin-left: 25%;
    margin-top:15%;
    height: 20%;
    position: relative;
    z-index: -1;
    
    
}
.iframe-mapa{
    width: 60%;
    height: 2%;
    margin-left: 18%;
    border-top: 0px;
    border-left: 0px;
    
}
.container-form-contacto{
    display: flex;
    margin-bottom: 15%;
    margin-top: 5%;
}
form>h1{
    padding-left: 50%;
}
.container-escibenos{
    margin-right: 20%;
}
h6,h1{
    
    font: bold 12px/2 arial, helvetica, sans-serif;
    font-style: italic;
}

