.carrusel-top{
   
    margin-left: 25%;
    margin-top:15%;
    height: 20%;
    position: relative;
    z-index: -1;
    
    
}
@media screen and (max-width:500px){
	.carrusel-top {
		display: none;
	} 
} 