

<section class="imagen-contacto contacto-top">
      
    <h1 class="h1-contacto">CONTACTO</h1>
      
  
 </section>
 <div class="container-form-contacto">
    <div class="container-escibenos">
        <h1>Escríbenos</h1>
      
    
        <h6>L-V, 9am-6pm<br>
            villas del Caribe<br>
            Tel: 320100<br>
        </h6>  

    </div>
    <div class="form-contacto">
            
        
        <form action="" [formGroup]="formContac" (ngSubmit)="enviarInformacion()">
            <label for="nombre">Nombre y Apellido:</label><br>
            <input type="text" id="" formControlName="nombre"><br>
            
            <label for="correo">Correo ELectronico:</label><br>
            <input type="text" id="" formControlName="correo"><br>
            <p *ngIf= "!formContac.controls.correo.valid">incorrecto</p>
            <label for="apellido">Telefono:</label><br>
            <input type="text" id="" formControlName="telefono"><br>
            <label for="apellido">Asunto:</label><br>
            <input type="text" id="" formControlName="asunto"><br>
            <label for="apellido">Detalle de la Solicitud:</label><br>
            
            <textarea name="textarea" id="idmensaje" formControlName="detalle" cols="50" rows="5" maxlength="100"></textarea><br>
            <p>{{formContac.status}}</p>
            <button  onclick=""> Enviar</button>
        </form> 
    </div>
</div>
 <section class="iframe">
   
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3917.046689039171!2d-74.85917752517916!3d10.959845889200283!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef5d315eaa06013%3A0x29bd46b92109de9b!2sCaribe%20Verde%20Conjunto%20Villas%20del%20Caribe!5e0!3m2!1ses-419!2sco!4v1682304691060!5m2!1ses-419!2sco"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="iframe-mapa"></iframe>
 </section>
 